* {
	font-family: Helvetica;
	text-align: center;
	text-orientation: horizontal;
}

body {
	background-image: url ("./resources/the-flatiron-building.png");
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

#menu {
		font-size: 18px;
		color: white;
		}